<!-- cta section start-->
<section class="cta-section">
  <div class="container">
    <article class="cta-section-wrapper">
      <img
        class="cta-img"
        src="./assets/images/ctaImg.png"
        alt="Call to action image"
      />
      <section class="cta-content">
        <h2 class="cta-title">Stay Connected, Stay Inspired</h2>
        <p class="cta-subtitle">
          Our growing range of professional royalty free music is free to
          download and use in your projects and covers a range of genres and
          moods. wrapper
        </p>
        <button class="btn btn--cta">Access Music</button>
      </section>
    </article>
  </div>
</section>
<!-- cta section end -->
