<!-- nav start -->
<nav class="nav nav--light">
  <div class="nav-content">
    <a href="/">
      <img
        rel="preload"
        class="nav-image"
        src="./assets/images/logo.png"
        alt="logo"
      />
    </a>
    <div class="nav-link-container">
      <ul class="nav-link-items">
        <li class="nav-link active">
          <a href="#home"> Home </a>
        </li>
        <li class="nav-link">
          <a href="#about"> About </a>
        </li>
      </ul>
      <button class="btn btn--primary">Contact</button>
    </div>
    <button id="toggleOpen" class="nav__toggle-button">
      <img src="./assets/images/icons/menu.png" alt="" />
    </button>
  </div>
</nav>
<!-- nav end -->
