<!-- popular sound effect blog section start -->
<section class="popular-sound-effect-blog-section">
  <div class="container">
    <article class="section-header section-header__center">
      <h2 class="section-title">Popular Sound Effect</h2>
      <p class="section-subtitle">
        Unique sound effects for download. You won’t find them anywhere else.
      </p>
    </article>
    <!-- popular sound effect blog body section start -->
    <div class="card-wrapper">
      <!-- card 1 -->
      <div class="blog-card">
        <div class="blog-card__image-wrapper">
          <img
            src="./assets/images/blogImage1.png"
            alt="Blog Image"
            class="blog-card__image"
          />
        </div>

        <div class="blog-card__body">
          <div class="blog-card__header">
            <h3 class="card__title">Anime Tones</h3>

            <span class="blog-card__badge">
              <img src="./assets/images/icons/premium.png" alt="premium" />
            </span>
          </div>

          <p class="card__subtitle clip-line-3">
            80 anime tone sound effects to download in both mp3 and wav formats.
            This dynamic collection of classic anime sound effects contains.
          </p>

          <button class="btn btn--muted btn-full">Read More</button>
        </div>
      </div>
      <!-- card 2 -->
      <div class="blog-card">
        <div class="blog-card__image-wrapper">
          <img
            src="./assets/images/blogImage2.png"
            alt="Blog Image"
            class="blog-card__image"
          />
        </div>

        <div class="blog-card__body">
          <div class="blog-card__header">
            <h3 class="card__title">Plasma Core Sampler</h3>

            <span class="blog-card__badge">
              <img src="./assets/images/icons/premium.png" alt="premium" />
            </span>
          </div>

          <p class="card__subtitle clip-line-3">
            80 anime tone sound effects to download in both mp3 and wav formats.
            This dynamic collection of classic anime sound effects contains.
          </p>

          <button class="btn btn--muted btn-full">Read More</button>
        </div>
      </div>
      <!-- card 3 -->
      <div class="blog-card">
        <div class="blog-card__image-wrapper">
          <img
            src="./assets/images/blogImage3.png"
            alt="Blog Image"
            class="blog-card__image"
          />
        </div>

        <div class="blog-card__body">
          <div class="blog-card__header">
            <h3 class="card__title">Sci-Fi Ul Tones</h3>

            <span class="blog-card__badge">
              <img src="./assets/images/icons/premium.png" alt="premium" />
            </span>
          </div>

          <p class="card__subtitle clip-line-3">
            80 anime tone sound effects to download in both mp3 and wav formats.
            This dynamic collection of classic anime sound effects contains.
          </p>

          <button class="btn btn--muted btn-full">Read More</button>
        </div>
      </div>
      <!-- card 4 -->
      <div class="blog-card">
        <div class="blog-card__image-wrapper">
          <img
            src="./assets/images/blogImage4.png"
            alt="Blog Image"
            class="blog-card__image"
          />
        </div>

        <div class="blog-card__body">
          <div class="blog-card__header">
            <h3 class="card__title">Cellphone Vibrate</h3>

            <span class="blog-card__badge">
              <img src="./assets/images/icons/premium.png" alt="premium" />
            </span>
          </div>

          <p class="card__subtitle clip-line-3">
            80 anime tone sound effects to download in both mp3 and wav formats.
            This dynamic collection of classic anime sound effects contains.
          </p>

          <button class="btn btn--muted btn-full">Read More</button>
        </div>
      </div>
      <!-- card 5 -->
      <div class="blog-card">
        <div class="blog-card__image-wrapper">
          <img
            src="./assets/images/blogImage5.png"
            alt="Blog Image"
            class="blog-card__image"
          />
        </div>

        <div class="blog-card__body">
          <div class="blog-card__header">
            <h3 class="card__title">Sci-Fi Computer Tones</h3>

            <span class="blog-card__badge">
              <img src="./assets/images/icons/premium.png" alt="premium" />
            </span>
          </div>

          <p class="card__subtitle clip-line-3">
            80 anime tone sound effects to download in both mp3 and wav formats.
            This dynamic collection of classic anime sound effects contains.
          </p>

          <button class="btn btn--muted btn-full">Read More</button>
        </div>
      </div>
      <!-- card 6 -->
      <div class="blog-card">
        <div class="blog-card__image-wrapper">
          <img
            src="./assets/images/blogImage6.png"
            alt="Blog Image"
            class="blog-card__image"
          />
        </div>

        <div class="blog-card__body">
          <div class="blog-card__header">
            <h3 class="card__title">Dark Cinematic Whooshes</h3>

            <span class="blog-card__badge">
              <img src="./assets/images/icons/premium.png" alt="premium" />
            </span>
          </div>

          <p class="card__subtitle clip-line-3">
            80 anime tone sound effects to download in both mp3 and wav formats.
            This dynamic collection of classic anime sound effects contains.
          </p>

          <button class="btn btn--muted btn-full">Read More</button>
        </div>
      </div>
    </div>
  </div>
  <!-- popular sound effect blog body section end -->
</section>
<!-- popular sound effect blog section end -->
