<!-- popular sound effect section start -->
<section class="popular-sound-effect-section">
  <div class="popular-sound-effect-section--rounded">
    <div class="container">
      <section class="section-header">
        <article>
          <h2 class="section-title">Popular Sound Effect</h2>
          <p class="section-subtitle">
            Unique sound effects for download. You won't find them anywhere
            else.
          </p>
        </article>
        <button class="btn btn--primary">All Sound Categories</button>
      </section>
      <!-- popular sound effect body section start -->
      <div class="popular-sound-effect">
        <div class="popular-sound-effect__grid">
          <!-- Card 1 -->
          <div
            class="popular-sound-effect__card popular-sound-effect__card--large"
          >
            <img
              src="./assets/images/soundEffect1.png"
              alt=""
              class="popular-sound-effect__image"
            />
            <div class="popular-sound-effect__content">
              <h3 class="popular-sound-effect__title">
                Explosion Sound Effects
              </h3>
              <p class="popular-sound-effect__subtitle">
                Bombs, missiles small, large & distant
              </p>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="popular-sound-effect__card">
            <img
              src="./assets/images/soundEffect2.png"
              alt=""
              class="popular-sound-effect__image"
            />
            <div class="popular-sound-effect__content">
              <h3 class="popular-sound-effect__title">
                Explosion Sound Effects
              </h3>
              <p class="popular-sound-effect__subtitle">
                Bombs, missiles small, large & distant
              </p>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="popular-sound-effect__card">
            <img
              src="./assets/images/soundEffect3.png"
              alt=""
              class="popular-sound-effect__image"
            />
            <div class="popular-sound-effect__content">
              <h3 class="popular-sound-effect__title">
                Explosion Sound Effects
              </h3>
              <p class="popular-sound-effect__subtitle">
                Bombs, missiles small, large & distant
              </p>
            </div>
          </div>

          <!-- Card 4 -->
          <div class="popular-sound-effect__card">
            <img
              src="./assets/images/soundEffect4.png"
              alt=""
              class="popular-sound-effect__image"
            />
            <div class="popular-sound-effect__content">
              <h3 class="popular-sound-effect__title">
                Explosion Sound Effects
              </h3>
              <p class="popular-sound-effect__subtitle">
                Bombs, missiles small, large & distant
              </p>
            </div>
          </div>

          <!-- Card 5 -->
          <div class="popular-sound-effect__card">
            <img
              src="./assets/images/soundEffect5.png"
              alt=""
              class="popular-sound-effect__image"
            />
            <div class="popular-sound-effect__content">
              <h3 class="popular-sound-effect__title">
                Explosion Sound Effects
              </h3>
              <p class="popular-sound-effect__subtitle">
                Bombs, missiles small, large & distant
              </p>
            </div>
          </div>

          <!-- Card 6 -->
          <div
            class="popular-sound-effect__card popular-sound-effect__card--large"
          >
            <img
              src="./assets/images/soundEffect6.png"
              alt=""
              class="popular-sound-effect__image"
            />
            <div class="popular-sound-effect__content">
              <h3 class="popular-sound-effect__title">
                Explosion Sound Effects
              </h3>
              <p class="popular-sound-effect__subtitle">
                Bombs, missiles small, large & distant
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- popular sound effect body section end -->
    </div>
  </div>
</section>
<!-- popular sound effect section end -->
