<!-- sound-catalogue-section start -->
<section class="sound-catalogue-section">
  <div class="sound-catalogue-section--rounded">
    <div class="container">
      <article class="section-header section-header__center">
        <h2 class="section-title">Our Sound Catalogue Advantages</h2>
        <p class="section-subtitle">
          Our sound effects are unique and pro quality.
        </p>
      </article>
      <!-- sound-catalogue-section body -->
      <div class="catalogue">
        <div class="catalogue__item catalogue__item--dark">
          <div class="catalogue__icon">
            <!-- Placeholder Icon -->
            <img
              src="./assets/images/icons/professional.svg"
              alt="professional"
            />
          </div>

          <h3 class="catalogue__title">Professionally Recorded Sounds</h3>

          <p class="catalogue__description">
            You’ll get access to an extensive library of pro level sounds that
            have been used in some of the world's most recognisable media.
          </p>
        </div>

        <div class="catalogue__item">
          <div class="catalogue__icon">
            <img src="./assets/images/icons/safe.svg" alt="safe" />
          </div>

          <h3 class="catalogue__title">Safe to use</h3>

          <p class="catalogue__description">
            All our free sounds and music are safe to use for any non-commercial
            and commercial use, even for broadcast. We check every file for
            quality and we only add content we, or our contributors recorded
            themselves.
          </p>
        </div>

        <div class="catalogue__item">
          <div class="catalogue__icon">
            <img src="./assets/images/icons/support.svg" alt="support" />
          </div>

          <h3 class="catalogue__title">Excellent support</h3>

          <p class="catalogue__description">
            We're always here if you need us. Contact anytime, we typically
            respond within a few hours, often even faster.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- sound-catalogue-section end -->
