<!-- why us section start-->
<section class="why-us-section">
  <div class="container">
    <article class="section-header">
      <h2 class="section-title">Why Choose Profunk Audio</h2>
      <p class="section-subtitle">
        Our extensive sound effect catalogue delivers sounds & music for every
        creative field. You'll find the exact sounds and music you need to
        deliver a professional result everytime.
      </p>
    </article>
    <!-- why us section body start -->
    <div class="why-us-section__grid">
      <!-- Card 1 -->
      <div class="why-us-section__card why-us-section__card--large">
        <div class="why-us-section__content">
          <img
            class="why-us-section__img"
            src="./assets/images/icons/check.png"
            alt="check"
          />
          <h3 class="why-us-section__title">Explosion Sound Effects</h3>
          <p class="why-us-section__subtitle">
            Bombs, missiles small, large & distant
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="why-us-section__card">
        <div class="why-us-section__content">
          <img
            class="why-us-section__img"
            src="./assets/images/icons/check.png"
            alt=""
          />
          <h3 class="why-us-section__title">Explosion Sound Effects</h3>
          <p class="why-us-section__subtitle">
            Bombs, missiles small, large & distant
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="why-us-section__card">
        <div class="why-us-section__content">
          <img
            class="why-us-section__img"
            src="./assets/images/icons/check.png"
            alt=""
          />
          <h3 class="why-us-section__title">Explosion Sound Effects</h3>
          <p class="why-us-section__subtitle">
            Bombs, missiles small, large & distant
          </p>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="why-us-section__card">
        <div class="why-us-section__content">
          <img
            class="why-us-section__img"
            src="./assets/images/icons/check.png"
            alt=""
          />
          <h3 class="why-us-section__title">Explosion Sound Effects</h3>
          <p class="why-us-section__subtitle">
            Bombs, missiles small, large & distant
          </p>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="why-us-section__card">
        <div class="why-us-section__content">
          <img
            class="why-us-section__img"
            src="./assets/images/icons/check.png"
            alt=""
          />
          <h3 class="why-us-section__title">Explosion Sound Effects</h3>
          <p class="why-us-section__subtitle">
            Bombs, missiles small, large & distant
          </p>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="why-us-section__card why-us-section__card--large">
        <div class="why-us-section__content">
          <img
            class="why-us-section__img"
            src="./assets/images/icons/checkWhite.png"
            alt=""
          />
          <h3 class="why-us-section__title">Explosion Sound Effects</h3>
          <p class="why-us-section__subtitle">
            Bombs, missiles small, large & distant
          </p>
        </div>
      </div>
    </div>
    <!-- why us section body end -->
  </div>
</section>
<!-- why us section end-->
