html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --color-white: #ffffff;
  --color-bg-muted: #eaeff2;
  /* Gray/Black-500 */
  --color-primary: #1d1f2c;
}

body {
  font-family: "Saira Condensed", sans-serif;
  background-color: black;
}

.container {
  width: 100%;
  max-width: 152rem;
  padding: 8rem 1.6rem;
  margin: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
a:active {
  transform: scale(0.98);
}
li {
  list-style: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}
button:active {
  transform: scale(0.98);
}
/* nav bar */

.nav {
  width: 100%;
  max-width: 192rem;
  height: 100%;
  max-height: 10.4rem;
  padding: 2.4rem;
  margin: auto;
  border-radius: 0 0 6rem 6rem;
}
.nav--light {
  background-color: var(--color-white);
}
.nav-content {
  margin: auto;
  max-width: 152rem;
  padding: 0rem 1.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.nav-image {
  width: 12.6rem;
  height: 3.6rem;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .nav-image {
    width: 13.6rem;
    height: 4.6rem;
    object-fit: contain;
  }
}
@media screen and (min-width: 1024px) {
  .nav-image {
    width: 14.6rem;
    height: 5.6rem;
    object-fit: contain;
  }
}

/* link */
.nav-link-container {
  display: none;
}
@media screen and (min-width: 1024px) {
  .nav-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4.8rem;
  }
}
.nav-link-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4rem;
}
.nav-link {
  font-size: 1.8rem;
  position: relative;
  font-weight: 500;
  color: var(--color-primary);
}
.nav .active::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  left: -2rem;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--color-primary);
}

/* button */
.btn {
  padding: 1rem 3.2rem;
  font-size: 1.8rem;
  border-radius: 0.8rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.nav__toggle-button {
  width: 3.6rem;
  height: 3.6rem;
  background-color: transparent;
  border: none;
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .nav__toggle-button {
    width: 4.6rem;
    height: 4.6rem;
    object-fit: contain;
  }
}
@media screen and (min-width: 1024px) {
  .nav__toggle-button {
    display: none;
  }
}

.nav__toggle-button > img {
  height: inherit;
  width: inherit;
  object-fit: contain;
}

/* sidebar */

/* Sidebar container */

.sidebar {
    width: 100vw;
    height: 100vh;
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  background: var(--color-white);
  color: #000;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
}
.sidebar.open {
  max-width: 100vw;
  opacity: 1;
  transition: 0.3s ease;
}
@media screen and (min-width:1024px) {
   .sidebar{
    display: none;
   }
    
}
/* Logo */

/* Menu styles */
.menu {
  list-style: none;
  margin-top: 2rem;
}

.menu li {
  padding: 14px 25px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 14px;
  transition: 0.3s;
}

/* Active link */
.menu li.active {
  background: #000;
  border-radius: 6px;
  color: #ffffff;
}
